:root{
--primary-clr:#F0EDE4;
--secondary-clr:#555150;
--btn-clr:#CCC2AC;
--section-v-padding:5em;
--section-v-margin:8em;
--txt-v-margin:1em;

}



 /* common styles */
 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width:95%;
  margin:0 auto;


}

a:link,
a:visited {
 text-decoration: none;
 text-transform: capitalize;
 color:var(--secondary-clr);
 font-size: 16px;
 padding:0.2em 0.5em;

}
h1{
text-transform: capitalize;
padding-top:5em;
padding-left:1em;
font-size:30px;

   
}
h2{
    text-align:center;
    text-transform: capitalize;
    margin: var(--txt-v-margin) 0;
    font-size:25px;
   


}
h1 ,h2,p {
    color:var(--secondary-clr);
}
p{
   
    margin-inline: auto;
    font-size:18px;
   text-align: center;

    max-width:400px;
}
a:link:hover{
background-color: var(--btn-clr);
}
.btn:link,
.btn:visited{
    text-align: center;
    width:120px;
    color:var(--secondary-clr);
}
.btn,
 button {
    display: block;
    background-color: var(--btn-clr);
    padding:0.3em 3em;
    border-radius: 5px;

    margin:2em auto;
  

}

.btn:hover{
    box-shadow: 0 0 0 1px var(--secondary-clr); 
    background-color: transparent;
}
button{
    color:var(--secondary-clr);
    outline: none;
    border:none;
    text-transform: capitalize;
    font-size: 16px;

}
button:hover {
    color:var(--btn-clr);
    background-color: var(--secondary-clr);
    box-shadow: 0 0 0 1px var(--btn-clr); ;

}

 section{
    padding:var(--section-v-padding) 0;
    margin:5em 0;
 }
 .s1 ,.s3{
background-color: var(--primary-clr);
 }

.img{
  
    width:100%;
  

}

img{
    
    width:100%;
    height:auto;
 
}

/*******************************************************/
/* component styles */
/*******************************************************/
/**** header **********/

.header{
    background-image: url(img/main2.jpg);
    background-size:cover;
    background-position: center;
    height:100vh;
}
.header-btn{
    width:300px;
    display:flex;
    align-items: center;
}


/***** navbar ****/

.logo{
    color:var(--secondary-clr);
    text-transform: capitalize;
    font-size:40px;
margin-left:2rem;
padding-top:1rem;
}


.btn-mobile-nav{
    background: transparent;
}
.icon-mobile{
    stroke: black;
    fill:red;
    border:2px soild red;
}



p +p{
    margin-top:1em;
}
footer{
    background-color: var(--secondary-clr);
 
}

footer .logo , footer p{
    color:var(--primary-clr);
}

.sub{
    margin-top: 2em;
    padding:1rem 0;

}
/* media query */

@media(min-width:768px){

    .container{
        width:80%;
        max-width:1170px;
    }
 
    a:link{
        font-size: 18px;
    }
  
    .img{
        width:50%;
       

    }
    .btn{
        width:120px;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 30px;
    }
    .header-btn{
        margin-left:5em;
     
    }
.frow{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
} 
button {
    margin:1em auto;
}
footer{
    padding:2em 0;
    display: flex;
    align-items: flex-end;
}
.sub p{
    text-align: center;
}
.sub{
    margin-top:0;
}

.products{
    justify-content:center;
}


.products img{
    width:300px;
    height: auto;;

} 


}


@media (min-width:1010px){
    .frow{
        justify-content: space-between;
    }
    .products{
        justify-content:center;
    }
}


@media (min-width:1200px){
.container{
    max-width:1270px;
}
.img{
    width:50%;

}

.reviews p{
   
    max-width:700px;
}
}